@import url("../global/reset.css");
@import url("../global/whatsapp-icon.css");
@import url("./01-hero.css");
@import url("./02-keys.css");
@import url("./03-about.css");
@import url("./04-collection.css");
@import url("./05-best-seller.css");
@import url("./06-footer.css");




